.costs-title{
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    font-family: 'Rubik Dirt', cursive;
}
.costs-value{
    text-align: center;
    font-size: 3rem;
    font-family: 'Rubik Dirt', cursive;
    background: #3d7237;
    opacity: 0.9;
    color: #ddea54;
}
