.costs-title{
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    font-family: 'Rubik Dirt', cursive;
}
.costs-value{
    text-align: center;
    font-size: 3rem;
    font-family: 'Rubik Dirt', cursive;
    background: #3d7237;
    opacity: 0.9;
    color: #ddea54;
}
.btn-period{
    width: 22%;
    border-radius: 5px;
    cursor: pointer;
    background: #3d7237;
    color: #ddea54;
    font-family: 'DynaPuff', cursive;
    letter-spacing: 2.0px;
    font-size: 0.5rem;
    padding: 5px 0;
}
.btn-holder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}
