.coast-title {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    font-family: 'Rubik Dirt', cursive;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input{
    background: none;
    border: none;
    border-bottom: 2px solid black ;
    font-family: 'DynaPuff', cursive;
    width: 150px;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 5px;

}
::placeholder {
    font-size: 1rem;
    color: black;
    
}
input:focus {
    border-bottom: 2px solid black ;
    outline: none;
}
.input-title{
    font-size: 1.8rem;
    font-family: 'DynaPuff', cursive;
    text-align: center;
    padding: 10px 0;
}
.select{
    width: 150px;
    background: none;
    font-family: 'DynaPuff', cursive;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 1.2rem;
 }
 select:focus {
    border-bottom: 2px solid black ;
    outline: none;
 }
 .add-btn{
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #3d7237;
    color: #ddea54;
    font-family: 'DynaPuff', cursive;
    letter-spacing: 2.5px;
    font-size: 1rem;
    transition: all ease-in-out 0.5s;
 }
 .disable{
    color: #ddea54;
    background: rgb(153, 151, 151);
 }
 